{% include 'navbar.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="section-1"> 
        <div class="side-menu">
            <h4>Topics</h4>
            <!-- <div class="post">+ Create Tag</div> -->
            <ul style="display: flex; flex-wrap: wrap; margin-right: 15px; padding-left: 15px;">
                {% for tag in tags %}
                <li><a href="/tag/{{tag.name}}" class="badge rounded-pill text-bg-primary" style="padding: 6px; margin: 2px;">{{tag.name}}</a></li>
                {% endfor %}
            </ul>
            <div class="foot">
                <div style="display: flex; justify-content: space-evenly; margin-bottom: 8px;">
                    <li><a href="https://manoj0987.github.io/myporto">About</a></li>|
                    <li><a href="https://manoj0987.github.io/myporto">Contact</a></li>
                </div>
                <p style="display: flex; justify-content: center;">Made with <span style="color:red;font-size: 18px;">&hearts;</span> by Manoj</p>
            </div>
        </div>

        <!-- Q-Box -->
        <div class="container">
            <div class="sec-ask">
                <div class="q-box">
                    <form class="d-flex">
                        <input class="form-control" type="search" placeholder="What do you want to ask or share?" aria-label="Search">
                    </form>
                </div>
                <div class="q-det">
                    <li class="bi bi-question"><a href="{% url 'ask-question' %}"> Ask</a></li>|
                    <li class="bi bi-pen"><a href="{% url 'ask-question' %}"> Answer</a></li>|
                    <li class="bi bi-pencil-square"><a href="{% url 'ask-question' %}"> Post</a></li>
                </div>
            </div>

            <!-- Main-Content -->
            <div class="main-content">
                <h4>Main content</h4>
                {% for quest in quests %}
            
                <div class="card mb-4 shadow">
                    <div class="card-body" style="padding: 8px;">
                        <h5 class="card-title"><a href="/detail/{{quest.id}}">{{quest.title}}</a></h5>
                        <p class="card-text" style="margin-bottom: 8px;">{{quest.detail}}</p>
                        <p style="margin-bottom: 0; display: flex; justify-content: space-between;">
                            <a href="#" class="mr-2">{{quest.user.username}}</a>
                            <a href="/detail/{{quest.id}}" class="mr-2">{{quest.answer_set.count}} Answers</a>
                            <a href="#" class="mr-2">{{quest.total_comments}} Comments</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small>{{quest.add_time|date:'d/m/Y h:m:s'}}</small>
                    </div>
                </div>
        
                {% endfor %}
            </div>
            <!-- pagination -->
            <nav aria-label="Page navigation example" class="page">
                <ul class="pagination">
                    {% if quests.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{quests.previous_page_number}}">Previous</a></li>
                    {% endif %}
                        {% for i in quests.paginator.page_range %}
                            {% if quests.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% if quests.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{quests.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
        
    </section>
{% endblock %}