.section-1 { 
    display: flex; 
    margin-top: 6px; 
    background-color: #eeeeeef5; 
    padding: 5px 40px 0px 60px;
}

/* Side-Menu */

.side-menu { 
    width: 20%;
    margin: 10px 0px 0px 10px; 
    background-color: #fff;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    border-radius: 5px;
    padding: 10px;
    height: max-content;
}

.post {
    margin: 5px;
    padding: 10px;
    background-color: #e8d5c4c1;
    color: #787878;
    border-radius: 5px;
    text-align: center;
    border: 2px solid transparent;
}

.post:hover { 
    border: 2px solid #c5bab0;
}


.container { 
    width: 80%; 
    margin: 15px 15px 0px 15px;
}

/* Q-Box */

.sec-ask {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    border-radius: 5px;
}

.sec-ask .d-flex input { 
    background-color: #fff7eb8e; 
    color: #acacac; 
    margin: 5px;
}

.sec-ask .d-flex input:hover { 
    background-color: #fff;
}

.q-det { 
    display: flex; 
    justify-content: space-around; 
    margin-top: 5px;
}

.q-det li { 
    font-weight: 500; 
    padding: 3px 50px; 
    border-radius: 10px;
}

.q-det li:hover { 
    background-color: #fff1dc;
}

li.bi.bi-question:before {
    font-size: 20px;
}

/* Main-Section */
.main-content {  
    background-color: #fff;
    box-shadow: 0 0 5px rgb(66, 66, 66);
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
}
.page { 
    margin-top: 16px;
}

.pagination { 
    width: fit-content; 
    box-shadow: 0 0 5px rgb(66, 66, 66); 
    border-radius: 5px;
}

.pagination:hover { 
    box-shadow: 0 0 8px rgb(66, 66, 66);
}
